.flex-wrapper {
  min-height: 100vh;
  align-content: center !important;
  row-gap: 20px;
}
.box1{
  flex: 0 0 49.999%;background-color: #4F2170;
}
.box2{
  flex: 0 0 49.999%;
}

.logo-box{
  width: 20%;
}
.info-box{
  padding: 4%;
  border-top: 2px solid #9857F2;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  box-shadow: 0px 4px 13px 7px rgba(234, 247, 255, 0.64);
}

@media (max-width: 960px) {
  .flex-wrapper {
    flex-wrap: wrap;
    align-content: start !important;
  }
  .box1{
    flex: 0 0 100%;
    min-height: 90px;
  }
  .box2{
    flex: 0 0 100%;
  }
  .logo-box{
    width: 50%
  }

}