<div class="d-flex" style="flex-direction: column;align-items: center;position: absolute;">
    <div class="box1" >
        <a class="navbar-brand logo-block"  style="position: static;">
            <img alt="Logo" src="./assets/img/logo-dark.png" class="img-box" />
        </a>
    </div>
    <div class="box2 mt-4">
        <div style="padding: 20px;
        text-align: center;
        background: #F4F0FA;
        font-size: 24px;
        font-weight: 600;">Few More Steps To Go</div>
        <div class="p-5">
                <form [formGroup]="tenantForm" novalidate="novalidate">
                  <div class="d-flex" style="flex-direction: column;row-gap: 28px;">
                    <div class="p-fluid grid">
                      <div class="field col-12">
                          <span class="p-float-label">
                              <input type="text" pInputText class="p-inputtext-sm" formControlName="username" readonly> 
                              <label for="username">User Name</label>
                          </span>
                      </div>
                    </div> 
                    <div class="p-fluid grid">
                      <div class="field col-12">
                          <span class="p-float-label">
                              <input type="text" placeholder="your-email@email.com" pInputText class="p-inputtext-sm" formControlName="email" readonly> 
                              <label for="email">Email</label>
                          </span>
                      </div>
                    </div> 
                    <div class="p-fluid grid">
                        <div class="field col-12">
                            <span class="p-float-label">
                                <input type="text" pInputText class="p-inputtext-sm" formControlName="workspace" (keyup)="checkVal($event)"> 
                                <label for="workspace">Work Space</label>
                            </span>
                            <span *ngIf="tenantForm.get('workspace').hasError('required') && tenantForm.get('workspace').touched" style="color: rgb(214, 47, 47);font-size: 12px;">This field is required</span>
                            <span *ngIf="tenantForm.get('workspace').hasError('minlength') && tenantForm.get('workspace').touched" style="color: rgb(214, 47, 47);font-size: 12px;">Minimum 3 character required</span>
                            <span *ngIf="tenantForm.get('workspace').hasError('maxlength') && tenantForm.get('workspace').touched" style="color: rgb(214, 47, 47);font-size: 12px;">Maximum 60 character long</span>
                            <span *ngIf="!tenantForm.get('workspace').hasError('minlength') && !tenantForm.get('workspace').hasError('maxlength') && tenantForm.get('workspace').hasError('pattern') && tenantForm.get('workspace').touched" style="color: rgb(214, 47, 47);font-size: 12px;">Workspace must contain only small alphabets.</span>
                            <span *ngIf="!tenantForm.get('workspace').hasError('minlength') && !tenantForm.get('workspace').hasError('maxlength') && !tenantForm.get('workspace').hasError('pattern') && errorworkspaceMsg != ''" style="color: rgb(214, 47, 47);font-size: 12px;" [innerHtml]="errorworkspaceMsg"></span>
                            <span *ngIf="!tenantForm.get('workspace').hasError('minlength') && !tenantForm.get('workspace').hasError('maxlength') && !tenantForm.get('workspace').hasError('pattern') && successworkspaceMsg != ''" style="color: #188a42;font-size: 12px;" [innerHtml]="successworkspaceMsg"></span>
                        </div>
                      </div> 
                      <div class="d-flex justify-content-end" >
                        <button pButton type="submit" class="p-button-sm"  [disabled]="tenantForm.invalid || validName"  (click)="submit()">
                
                          <ng-container *ngIf="isLoading$ | async">
                            <span class="indicator-progress" [style.display]="'block'">
                              &nbsp; Please wait...
                              <span
                                class="spinner-border spinner-border-sm align-middle ms-2"
                              ></span>
                            </span>
                          </ng-container>
                          <ng-container *ngIf="!(isLoading$ | async)">
                            <span class="indicator-label">Continue</span>
                          </ng-container>
                        </button>
                      </div>
                  </div>
              </form> 
        </div>
    </div>
</div>
<div class="loader-overlay" *ngIf="loader">
  <span class="indicator-progress" [style.display]="'block'">
    <span class="spinner-border spinner-border-lg align-middle ms-2" style="width: 4rem;height: 4rem;"></span>
  </span>
</div>
<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>