<div class="d-flex main-wrapper">
    <div *ngIf="emptyError" class="emptyerror">Please type a question to continue.</div>
    <div class="inputgroup" >
        <textarea #messageBox id="message-box" cols="100" [(ngModel)]="question" (input)="onValueChange($event)" (keyup)="onKeyUpChange($event)" (keydown)="onKeyDownChange($event)" placeholder="Ask a question"></textarea>
        <span class="senticon" [ngClass]="activeClass"  (click)="getChatMessageQuery()">
            <svg viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24" xml:space="preserve"><path fill="#0000003B" d="M1.101,21.757L23.8,12.028L1.101,2.3l0.011,7.912l13.623,1.816L1.112,13.845 L1.101,21.757z"></path></svg>
        </span>
    </div>
</div>


