.box1{
    width: 100%;
    .img-box{
        width: 24%;
    }
}
.box2{
    width: 100%;
    height: calc(100vh - 135px);
    justify-content: center;
    text-align: center;
    .verify-loader{
        width: 22%;
    }
    .loader{
        width: 18%;
    }
}

@media (max-width: 960px) {
    .box1{
        .img-box{
            width: 80%;
        }
    }
    .box2{
        .verify-loader{
            width: 44%;
        }
        .loader{
            width: 30%;
        }
    }
}