.title{
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 500;
}
.table-headers{
    border: 1px solid #ebebeb !important;
}
.row-tr{
    background: #fff !important;
    border: 1px solid #ebebeb !important;
    font-size: 14px;
    cursor: pointer;
}

.active{
    background: #EDD2FD !important;
}