.modal-body{
    padding: 0px 25px !important;
}

.img-box-pdf{
    height: calc(100vh - 75px) !important;border: 1px solid #ccc;border-radius: 9px; 
}
.slide-date{
    font-size: 12px;font-weight: 650;color:#00000063
}