<div class="d-flex justify-content-between align-items-center">
    <div style="font-size: 16px;font-weight: 500;margin-left: 15px;">Merge preview ({{data.length}} slides selected) </div>
    <div class="d-flex" style="column-gap: 20px;padding-top: 8px;">
        <div pButton type="button" class="p-button-sm p-button-xs " style="padding: 0px 20px !important;" (click)="downloadSlide()">
            Download as PPT
        </div>
        <div class="p-2" style="cursor: pointer;">
            <div class="p-button-sm p-button-text" class="close" aria-label="Close"
                (click)="activeModal.dismiss('Cross click')">
                <i class="pi pi-times"></i>
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
    <p-galleria [value]="data" [showItemNavigators]="shownavigator" [showThumbnails]="showthumnails" [thumbnailsPosition]="'left'" [numVisible]="4" [(activeIndex)]="activeIndex">
        <ng-template pTemplate="item" let-item>
            <img [src]="item?.image_path" style="width: 100%; min-height: 310px; display: block;    border: 1px solid #ccc;" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center list-thumbnails">
                <img [src]="item?.thumbnail_path" />
            </div>
        </ng-template>
    </p-galleria>
</div>